* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* background-color: hsl(270, 20%, 96%); */
}

.bg-color {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 600px;
  width: 50%;
  background: linear-gradient(to bottom, #ce41ff, #8f3cfe);
  border-bottom-right-radius: 200px;
}

.bg-color-two {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 600px;
  background: #f5f3f7;
  border-top-left-radius: 200px;
  z-index: -1;
}

.phone {
  padding-top: 96px;
}

.phone__container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background: #f5f3f8;
  border-radius: 30px;
  border: 10px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 20px 20px rgba(53, 53, 53, 0.3);
}

/*Header chat styles*/
.phone__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 20px 14px;
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-radius: 8px;
  box-shadow: 0 0 8px 5px rgba(53, 53, 53, 0.3);
}

.phone__header::before {
  content: "";
  position: absolute;
  top: 0;
  height: 20px;
  width: 55%;
  background-color: #fff;
  right: 50%;
  transform: translateX(50%);
  border-radius: 0 0 16px 16px;
}

.phone__icon-return,
.phone__more-options {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.phone__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 12px;
}

.phone__header-user-info {
  display: flex;
  align-items: center;
}

.phone__user-info {
  line-height: 1.6rem;
}

.phone__user-info-name {
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
}

.phone__user-info-available {
  font-size: 1rem;
  color: hsl(276, 100%, 81%);
}

/* Chat styles */
.phone-chat {
  padding: 16px 12px 4px;
  background: hsl(270, 20%, 96%);
  display: flex;
  flex-direction: column;
}

.phone-chat__message {
  width: max-content;
  max-width: 165px;
  font-size: 1.1rem;
  margin-bottom: 12px;
  padding: 8px;
}

.phone-chat__message--left {
  align-self: flex-start;
  background-color: #ede4f5;
  color: hsl(276, 55%, 52%);
  border-radius: 12px 12px 12px 4px;
}

.phone-chat__message--right {
  align-self: flex-end;
  background-color: #fff;
  color: hsl(271, 15%, 43%);
  border-radius: 12px 12px 4px 12px;
  box-shadow: 0 5px 5px rgba(53, 53, 53, 0.2);
}

.phone-chat__message-images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.phone-chat__dog-image {
  width: 50px;
  border-radius: 12px;
  margin: 8px 12px 12px 0;
}

.phone-chat__dog-image:last-child {
  margin-right: 0;
}

.phone-chat__message--mg-btm {
  margin-bottom: 24px;
}

/* Style for choose options */
.phone-options-payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px 12px 12px 4px;
  color: #fff;
}

.phone-options-payment__radio {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

/* oculta el radio button */
.phone-options-payment__input {
  display: none;
}

/* luego lo agrego con ::before para poder darle estilos */
.phone-options-payment__radio::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 12px;
}

.phone-options-payment__price {
  font-weight: 900;
}

/*Styles for input send message*/
.phone-send-message {
  padding: 12px;
  padding-top: 0;
}

.phone-send-message__form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-right: 4px;
  border-radius: 20px;
  background-color: #fff;
}

.phone-send-message__input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding-left: 8px;
}

::placeholder {
  color: hsl(206, 6%, 79%);
  font-size: 1rem;
}

.phone-send-message__button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: hsl(271, 36%, 24%);
  border: 1px solid hsl(289, 100%, 72%);
}

.phone-send-message__icon {
  color: #fff;
  margin-left: 4px;
}

/*Styles for section text*/
